[dependencies]
html.parser.default = git+https://github.com/jmlopez-rod/html-parser-default#develop
html.writer.default = git+https://github.com/jmlopez-rod/html-writer-default
html.converter.html.default = git+https://github.com/jmlopez-rod/html-converter-html-default

lexor.writer.repr = git+https://github.com/jmlopez-rod/lexor-writer-repr
lexor.writer.log = git+https://github.com/jmlopez-rod/lexor-writer-log


[lexor-writer-log]
module = on
explanation = off
